
body{
    display:grid;
    grid-template-areas: "Nav"
                        "Main";
    grid-template-columns:100%;
    grid-template-row: 50px auto;
    background-color: #f5f5dc;
    font-family: Arial, sans-serif;
    

}
#nav{
    grid-area: Nav;
    overflow:hidden;
}

#nav button img {
    width:20px;
    height:20px;
}
#main{
    grid-area: Main;
}
