<!doctype>
<head>
     <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
     <script src={{url_for('static',filename='index.js')}} ></script>


</head>
<body>

    <div id="nav">
        <div id="searchDiv">
            <input type="text" placeholder="Search Lyrics" id="search">
            <button onclick="search()" id="search_button">
                <img src={{url_for('static',filename='/images/search_icon.jpg')}} id="search_icon"/>
            </button>
        </div>
        <div id="searchItems" style="display:none"></div>
    </div>
    <div id="main"></div>
</body>