<!doctype>
<head>
     <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
     <script src={{url_for('static',filename='index.js')}} ></script>


</head>
<body id="body">

    <div id="nav">
        <div id="searchDiv">
            <input type="text" placeholder="Search.." id="search" value="hello">
            <button onclick="search()" id="search_button">
                <img src={{url_for('static',filename='/images/search_icon.jpg')}} id="search_icon"/>
            </button>
        </div>
        <div id="searchItems"></div>
    </div>
    <div id="main"></div>
    <div id="Info">
            <audio id="audio" controls style="display:none">
                  <source id="audioSource"></source>
            </audio>
            <iframe  id="lyrics"></iframe>
    </div>
</body>